page-home {

}

.item-md, .item-ios {
    h2 {
        color: rgba($color: #000, $alpha: .87);
    }
    p {
        color: rgba($color: #000, $alpha: .54);
    }
}

.item-md, .item-ios, .item-wp {
    h2, p {
        white-space: normal;
    }
}

.toolbar-ios {
    ion-title {
        padding: 0 90px 0 1px;
    }
    .searchbar-ios .searchbar-input {
        background: rgba($color: #000, $alpha: 0.12);
    }
}